layout {
    gaps 8
    center-focused-column "never"
    preset-column-widths {
        proportion 0.33333
        proportion 0.5
        proportion 0.66667
    }
    default-column-width { proportion 0.5; }

    focus-ring {
        width 4
        active-color "#d4845c"
        inactive-color "#1a2030"
    }

    border {
        off
    }
}

gestures {
  hot-corners{
    off
  }
}

window-rule { // Force rounded corners on windows
    geometry-corner-radius 2
    clip-to-geometry true
}

hotkey-overlay {
  skip-at-startup
  hide-not-bound
}
prefer-no-csd // Disable client side decorations
